# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @global-owner1 and @global-owner2
# will be requested for review when someone opens a pull request.
*       @zebadee2kk

# Documentation changes
/docs/  @zebadee2kk

# Security related files
/SECURITY.md @zebadee2kk
